# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.temp/
.cache/
.umirc.local.js
.umirc.ts.local

# UmiJS 缓存与构建产物
.umi/
.umi-production/
.umi-test/
.umi3/
.mock/.cache/
mock/.cache/

